@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html { position: relative; min-height: 100% }
body {font-family: 'Roboto', Verdana, sans-serif; background: #202020; height: 100%; margin: 0; color: #fff; overflow-x: hidden; }
/* hr { border-color: rgba(255, 255, 255, .1) } */

a { color: #50a0f0; text-decoration: none }
a:hover, a:focus { color: #4080c0; text-decoration: underline }

*:first-child { margin-top: 0 !important }
*:last-child { margin-bottom: 0 !important }

/** Misc. */
.float-left { float: left }
.float-right { float: right }

/** Header */
#header { display: flex; padding: 20px 40px; flex-wrap: wrap; justify-content: space-between; align-items: center }
#header > * { flex: none; margin: 10px !important }
#header .title { margin-right: 30px }
#header .title > * { display: inline-block; vertical-align: middle }
#header .title > img { width: 100px; height: 100px; margin-right: 30px; border-radius: 5px }
#header .title > h1 { margin: 0; font-size: 60px; font-weight: bold }
@media (max-width: 800px) {
	#header .title > img { width: 80px; height: 80px }
	#header .title > h1 { font-size: 40px }
}
#header h1 a { color: #fff }
#header p { margin: 0; float: right }

/** Main */
#main { background: #303030; padding: 30px; overflow: hidden }
#main > * { margin: 20px 0 }
#main > ul.settings { margin: 0; padding: 0; list-style: none }
#main > ul.settings > li { display: inline-block }
#main > ul.settings > li.btn { background: #c04040; padding: 10px; border-radius: 5px; cursor: pointer }
#main > ul.settings > li.select select { padding: 10px; border-radius: 5px }
#main > ul.settings > li.btn:hover, #main > ul.settings > li.btn:focus { background: #903030 }
#main > ul.settings > li.toggled { background: #4080c0 }
#main > ul.settings > li.toggled:hover, #main > ul.settings > li.toggled:focus { background: #306090 }
#main > ul.settings > li:not(:first-child) { margin-left: 10px }
#main > section h2 { margin: 5px 0; font-size: 30px }
#main > section .projects { display: flex; min-width: 300px; margin: 0 -20px; flex-wrap: wrap; justify-content: space-between }
#main > section .item { background: #202020; width: 300px; margin: 20px !important; padding: 20px; flex: 1 1 auto; border-radius: 5px }
#main > section .item > * { margin: 10px 0 }
#main > section .item > h3 { font-size: 20px }
#main > section .item > p { font-size: 16px }
#main > section .item > span { color: #c0c0c0; font-size: 14px }
#main > section .item > ul { padding: 0; color: #808080; list-style: none }
#main > section .item > ul > li { display: inline-block }
#main > section .item > ul > li.active { color: #40c0c0 }
#main > section .item > ul.infos > li.active { font-weight: bold }
#main > section .item > ul > li:not(:first-child) { margin-left: 20px }

/** Footer */
#footer { background: #202020; display: flex; padding: 20px 30px; color: #fff; flex-wrap: wrap; justify-content: space-between; align-items: center; overflow: hidden }
/* #footer > * { flex: 0 1 auto } */
#footer ul { margin: 0; padding: 0; list-style: none }
#footer ul > li { margin: 5px 0 }